@model Product
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}

<h1>Yeni Ürün Girişi</h1>
<br />
<div class="container">
    <form method="post">       
        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" style="border:1px solid #00cc00 " />
        <br />
        <label>Ürün Adeti</label>
        <input type="text" asp-for="ProductStock" class="form-control" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </form>
</div>